@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.hero-section {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  position: relative;
  min-height: 1192px;
  align-items: center;
  padding: 72px 60px 0;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* Rectangle 1273 */
  background: url('./images/banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  
}
/* https://cdn.builder.io/api/v1/image/assets/TEMP/6f0e7fcb538cd19928d168a498e28ad08799fea758aea9e556224362be3521f1?apiKey=9ae79156930442b2b7e45ba9181c9430& */
.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 1031px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.ai-image{
  /* background-image: url('./untitled.png'); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* opacity: .1; */
  /* background-position: top; */
  background-color: transparent;
  /* padding: 0px 30px; */
  margin: auto;
}
.blureffect{
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    margin: auto;
    overflow: hidden;

}
.logo-container {
  display: flex;
  gap: 16px;
}

.logo-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 43px;
}

.logo-text {
  aspect-ratio: 9.09;
  object-fit: auto;
  object-position: center;
  width: 247px;
  margin: auto 0;
}

.highlight-bar {
  background-color: #ffdb5e;
  margin-top: 42px;
  /* width: 695px; */
  /* max-width: 100%; */
  height: 54px;
  padding: 8px 18px;
  font-size: 33px;
  font-weight: 600;
  line-height: 40.85px;
  color: #33256C;
  display: flex;
  align-items: center;
  justify-content: center;

}
.main-title1{
  color: #fff;
  text-align: center;
  margin-top: 39px;
  font: 900 65px/82px Gilroy-Heavy, -apple-system, Roboto, Helvetica, sans-serif;
  word-spacing: -5px;
}
.main-title {
  color: #ff5811;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 39px;
  font: 900 73px/82px Gilroy-Heavy, -apple-system, Roboto, Helvetica, sans-serif;
  font-style: italic;
}
.subtitle1{
  color: #fff;
  text-align: center;
  margin-top: 51px;
  font: 400 22px Gilroy-Medium, sans-serif;
}
.subtitle {
  color: #ffee58;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 51px;
  font: 400 22px Gilroy-Medium, sans-serif;
}

.image-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  min-height: 610px;
  margin-top: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}

.accent-icon {
  aspect-ratio: 0.86;
  object-fit: auto;
  object-position: center;
  width: 57px;
  fill: #ff5811;
  margin: 192px 0 138px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.play-svg{
  z-index: 1;
  position: absolute;
}
/* @media (max-width: 991px) {
  .hero-section {
    padding: 0 20px;
  }

  .highlight-bar {
    margin-top: 40px;
  }

  .main-title {
    max-width: 100%;
    font-size: 40px;
    line-height: 50px;
  }

  .subtitle {
    max-width: 100%;
    margin-top: 40px;
    font: 400 18px Gilroy-Medium, sans-serif;
  }

  .image-container {
    max-width: 100%;
    padding: 0 20px;
    position: relative;
  }

  .accent-icon {
    margin: 40px 0;
  }
} */
.commercial-ad{
  border: 1px solid #221E3A;
  /* width: 80%; */
  background: #221E3A;
  gap: 0px;
  border-radius: 34px;
  color: #fff;
  padding: 60px 0px 25px 0px;
  display: flex;
  overflow: hidden;
}
.sidediv{
  flex: 5%;
  margin: auto;
}
.sidediv .top{
  height: 60px;
  background: #FFDC5E;
  position: relative;
  width: 280%;
}
.sidediv .bottom{
  height: 180px;
  background: #FF5811;
  position: relative;
  width: 280%;
}
.book{
  flex: 35%;
}
.ad-content{
  flex: 55%;
}
.logo-svg{
  flex: 5%;
 
}
.logo-svg svg{
  position: relative;
  left: 15%;
  top: 64%;
  width: 100%;
}
.book-img{
  width: 100%;
  height: 100%;
  gap: 0px;
  opacity: 0px;
  position: relative;
}
.div {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin: auto;
  padding: 0 20px;
}
.div-2 {
  border-radius: 8px;
  background-color: #ffdb5e;
  color: #ff5811;
  justify-content: center;
  padding: 2px;
  font: 600 23px/40px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-3 {
  /* color: #ffee58; */
  text-align: center;
  align-self: center;
  margin: auto;
  margin-top: 23px;
  letter-spacing: 1px;
  font: 100 18px/20px 
  Gilroy-Bold, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  border-radius: 15px;
  background-color: #ff5811;
  display: flex;
  margin: auto;
  margin-top: 16px;
  align-items: start;
  gap: 18px;
  padding: 20px 35px;
}
@media (max-width: 991px) {
  .div-4 {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.img {
  aspect-ratio: 1.14;
  object-fit: auto;
  object-position: center;
  width: 51px;
}
.div-5 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.div-6 {
  color: #fff;
  font: 900 22px/165% Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
  }
}
.div-7 {
  color: #0e072d;
  text-align: start;
  text-transform: uppercase;
  font: 400 16px Gilroy-Bold, sans-serif;
  font-weight: bold;
  line-height: 21.09px;

}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
  }
}
.div-8 {
  color: #fff;
  /* text-transform: uppercase; */
  align-self: center;
  margin-top: 14px;
  font: 700 14px/25px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    margin-top: 40px;
  }
}

/* investment */
.inv-div {
  /* max-width: 549px; */
  margin-top: 20px;
}
.inv-div-2 {
  gap: 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .inv-div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.inv-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 18%;
}
@media (max-width: 991px) {
  .inv-column {
    width: 100%;
  }
}
.inv-img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .inv-img {
    margin-top: 23px;
  }
}
.inv-column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
@media (max-width: 991px) {
  .inv-column-2 {
    width: 100%;
  }
}
.inv-div-3 {
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 991px) {
  .inv-div-3 {
    margin-top: 27px;
  }
}
.inv-img-2 {
  aspect-ratio: 8.33;
  object-fit: auto;
  object-position: center;
  width: 378px;
}
.inv-div-4 {
  font-family: Gilroy-Bold, sans-serif;
  margin-top: 20px;
  font-size: 36px;
}

/* Reviews section */
.review-div {
  /* gap: 20px; */
  display: flex;

}
@media (max-width: 991px) {
  .review-div {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.review-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .review-column {
    width: 100%;
  }
}
.review-div-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .review-div-2 {
    max-width: 100%;
    margin-top: 14px;
  }
}
.review-div-3 {
  border-radius: 9px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 5px;
}

@media (max-width: 991px) {
  .review-div-3 {
    max-width: 100%;
  }
}
.review-img {
  aspect-ratio: 1.79;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .review-img {
    max-width: 100%;
  }
}
.review-div-4 {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  justify-content: center;
  padding: 23px 5px;
  position: relative;
}
.review-div-4 .lh{
  position: absolute;
  top: 22%;
  left: 2.2%;
  height: 18.3%;
  width: 5.5%;
  background: #F7D843;
  border-radius: 50%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
@media (max-width: 991px) {
  .review-div-4 {
    max-width: 100%;
  }
}
.review-img-2 {
  aspect-ratio: 4.55;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .review-img-2 {
    max-width: 100%;
  }
}
.review-column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .review-column-2 {
    width: 100%;
  }
}
.review-div-5 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .review-div-5 {
    max-width: 100%;
    margin-top: 14px;
  }
}
.review-img-3 {
  aspect-ratio: 1.22;
  object-fit: auto;
  object-position: center;
  width: 100%;
  height: 66%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .review-img-3 {
    max-width: 100%;
  }
}
.review-img-4 {
  aspect-ratio: 3.33;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .review-img-4 {
    max-width: 100%;
  }
}

/* content-info */
.content-info{
  background: linear-gradient(152.8deg, #221E3A 1.78%, #43349D 83.03%);

}
.agency-container {
  background: linear-gradient(153deg, #221e3a 1.78%, #43349d 83.03%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 53px 60px;
}

@media (max-width: 991px) {
  .agency-container {
    padding: 0 20px;
  }
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1194px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .content-wrapper {
    max-width: 100%;
  }
}

.main-heading {
  color: #fff;
  font: 700 45px/55px Gilroy-ExtraBold, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .main-heading {
    max-width: 100%;
    font-size: 40px;
    line-height: 54px;
  }
}
.text-light{
  font: 700 45px/28px Gilroy-ExtraBold, -apple-system, Roboto, Helvetica, sans-serif;

}
.highlight-text-div{
  font: 700 45px/55px Gilroy-ExtraBold, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

.highlight-text {
  color: #ff5811;
  text-align: center;
  /* text-decoration: underline; */
  margin-top: 14px;
  border-bottom: 2px solid #FF5811;
  font: 600 45px/35px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .highlight-text {
    max-width: 100%;
    font-size: 40px;
    line-height: 34px;
  }
}

.subheading {
  color: #fff;
  text-align: center;
  margin-top: 33px;
  font: 500 28px Gilroy-SemiBold, sans-serif;
}

@media (max-width: 991px) {
  .subheading {
    max-width: 100%;
  }
}

.features-container {
  align-self: stretch;
  margin-top: 63px;
}

@media (max-width: 991px) {
  .features-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.features-row {
  gap: 20px;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .features-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.feature-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .feature-column {
    width: 100%;
  }
}

.feature-box {
  background: linear-gradient(153deg, #221e3a 1.78%, #43349d 83.03%);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 55px 35px 28px;
}

@media (max-width: 991px) {
  .feature-box {
    max-width: 100%;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.feature-title {
  align-self: center;
  display: flex;
  gap: 12px;
  font-size: 35px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  line-height: 100%;
}

@media (max-width: 991px) {
  .feature-title {
    white-space: initial;
  }
}

.feature-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 36px;
}

.feature-name {
  font-family: Gilroy-ExtraBold, sans-serif;
  margin: auto 0;
  font-weight: bold;
}

.feature-description {
  color: #fff;
  text-align: center;
  align-self: start;
  margin: 54px 0 0 21px;
  font: 400 25px/35px Gilroy-Medium, -apple-system, Roboto, Helvetica, sans-serif;
  letter-spacing: .5px;
}

@media (max-width: 991px) {
  .feature-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.feature-image-container {
  background-color: #fff;
  display: flex;
  margin-top: 38px;
  flex-direction: column;
  padding: 12px 60px 20px;
}

@media (max-width: 991px) {
  .feature-image-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.feature-image {
  aspect-ratio: 1.03;
  object-fit: auto;
  object-position: center;
  width: 100%;
  margin: 0 31px 0 32px;
}

@media (max-width: 991px) {
  .feature-image {
    margin: 0 10px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.business-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #33256c;
  font-weight: 400;
  padding: 0 20px;
}
.headline1{
  font: 50px/60px Gilroy-SemiBold, -apple-system, Roboto, Helvetica, sans-serif;
  width: 700px;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.headline {
  color: #3da85b;
  text-align: center;
  text-decoration-line: underline;
  width: 60%;
  font: 50px/60px Gilroy-SemiBold, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 600;

}

@media (max-width: 991px) {
  .headline {
    max-width: 100%;
    font-size: 40px;
    line-height: 48px;
  }
}

.subheadline {
  margin-top: 39px;
  font: 600 22px/140% Gilroy-SemiBold, -apple-system, Roboto, Helvetica, sans-serif;
}

.image-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
  position: relative;
  min-height: 343px;
  margin-top: 35px;
  width: 100%;
  align-items: start;
  font-size: 30px;
  justify-content: center;
  padding: 80px 60px;
}

@media (max-width: 991px) {
  .image-section {
    max-width: 100%;
    padding: 0 20px;
  }
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.text-container {
  position: relative;
  display: flex;
  width: 496px;
  max-width: 100%;
  flex-direction: column;
  margin: 17px 0 12px 164px;
}

.text-item {
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 117%;
  font-size: 26px;
}

@media (max-width: 991px) {
  .text-item {
    max-width: 100%;
  }
}

.text-item-large {
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 35px;
  margin-top: 30px;
  font-size: 26px;
}

@media (max-width: 991px) {
  .text-item-large {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

